header {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1B4F72;
  color: white;
  position: relative;
}

header a {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
}

#content-container {
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  #content-container {
    padding: 3rem;
  }
}

.input-row {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  padding: 0.5rem;

  transition: 0.25s;
  border-radius: 5px;
}
.input-row.highlight {
  background-color: orange;
}

.input-row p {
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
}

.input-row button {
  background-color: white;
}

#add-input-button {
  margin-top: 0.5rem;
}

#matrix-container {
  overflow: auto;
}

table {
  text-align: center;
}

th, td {
  padding: 0.25rem;
  transition: 0.25s;
}

th:hover, td:hover {
  background-color: orange !important;
}

#legend {
  display: flex;
  align-items: center;
}

#legend-bar {
  height: 1rem;
  width: 200px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(52, 152, 219) 75%, rgba(40, 116, 166,1) 100%);
  border: 1px solid #000;
}

#footer {
  padding: 1rem;
  background-color: #eee;
}